.navbar-default{
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    background: white;
    border: none;
    padding: 6px 0px;
}




.poster img{
	height: 200px;
	width: auto;
}

.rating {
    float:left;
}

#star{
    margin-left: -20px;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #e91e63;
    
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

#droppable{
    border: 1px solid #ccc;
    height: 540px;
}

.plot{
    padding: 0px 60px 0px 0px;
}

.high{
    border: 3px solid black !important;
    background: transparent;
    color: black;
}



